<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>iusethis</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSIusethis</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iusethis</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>42</string>
	<key>NSPrincipalClass</key>
	<string>iusethis</string>
	<key>QSActions</key>
	<dict>
		<key>downloadLatestAction</key>
		<dict>
			<key>actionClass</key>
			<string>iusethisAction</string>
			<key>actionSelector</key>
			<string>downloadLatestForApplication:</string>
			<key>description</key>
			<string>download latest version via iusethis</string>
			<key>directFileTypes</key>
			<array>
				<string>app</string>
				<string>'APPL'</string>
			</array>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>iusethis.icns</string>
			<key>name</key>
			<string>Download Latest Release</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>openHomepageAction</key>
		<dict>
			<key>actionClass</key>
			<string>iusethisAction</string>
			<key>actionSelector</key>
			<string>openHomepageForApplication:</string>
			<key>description</key>
			<string>opens up the app homepage via iusethis</string>
			<key>directFileTypes</key>
			<array>
				<string>app</string>
				<string>'APPL'</string>
			</array>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>iusethis.icns</string>
			<key>name</key>
			<string>Open Homepage</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>openIusethisAction</key>
		<dict>
			<key>actionClass</key>
			<string>iusethisAction</string>
			<key>actionSelector</key>
			<string>showIutProfileForApplication:</string>
			<key>description</key>
			<string>show iusethis profile for application</string>
			<key>directFileTypes</key>
			<array>
				<string>app</string>
				<string>'APPL'</string>
			</array>
			<key>directTypes</key>
			<array>
				<string>qs.process</string>
				<string>NSFilenamesPboardType</string>
				<string>NSStringPboardType</string>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>iusethis.icns</string>
			<key>name</key>
			<string>Show iusethis Profile</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>searchForAppsAction</key>
		<dict>
			<key>actionClass</key>
			<string>iusethisAction</string>
			<key>actionSelector</key>
			<string>searchIusethisFor:</string>
			<key>description</key>
			<string>search for apps on iusethis</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>iusethis.icns</string>
			<key>name</key>
			<string>Search For Apps</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
		<key>showAppsTaggedWithAction</key>
		<dict>
			<key>actionClass</key>
			<string>iusethisAction</string>
			<key>actionSelector</key>
			<string>openIusethisWithTag:</string>
			<key>description</key>
			<string>show apps on iusethis with this tag</string>
			<key>directTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>enabled</key>
			<true/>
			<key>icon</key>
			<string>iusethis.icns</string>
			<key>name</key>
			<string>Apps Tagged With</string>
			<key>validatesObjects</key>
			<false/>
		</dict>
	</dict>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Marcus Ramberg</string>
		<key>categories</key>
		<array>
			<string>Applications</string>
			<string>Web</string>
		</array>
		<key>description</key>
		<string>Integrate your applications with iusethis.com through quicksilver. Find the homepage or latest version directly.</string>
		<key>icon</key>
		<string></string>
		<key>qsversion</key>
		<string>29CC</string>
		<key>relatedBundles </key>
		<array/>
	</dict>
	<key>QSPresetAdditionsTemplate</key>
	<array>
		<dict>
			<key>ID</key>
			<string>QSPresetiusethis</string>
			<key>name</key>
			<string>iusethis</string>
			<key>source</key>
			<string>iusethisSource</string>
		</dict>
	</array>
	<key>QSRegistration</key>
	<dict>
		<key>QSActionProviders</key>
		<dict>
			<key>iusethisAction</key>
			<string>openHomepageAction</string>
		</dict>
		<key>QSBundleChildHandlers</key>
		<dict>
			<key>com.apple.whatever</key>
			<string>iusethisSource</string>
		</dict>
		<key>QSObjectHandlers</key>
		<dict>
			<key>iusethisType</key>
			<string>iusethisSource</string>
		</dict>
		<key>QSObjectSources</key>
		<dict>
			<key>iusethisSource</key>
			<string>iusethisSource</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>iusethis_PrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPreferencePane</string>
				<key>description</key>
				<string>Preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>iusethis</string>
			</dict>
		</dict>
	</dict>
	<key>QSRequirementsTemplate</key>
	<dict>
		<key>bundlesTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
		<key>feature</key>
		<integer>0</integer>
		<key>launchLoad</key>
		<false/>
		<key>pathsTemplate</key>
		<array>
			<string>/path/to/something</string>
		</array>
		<key>pluginsTemplate</key>
		<array>
			<dict>
				<key>id</key>
				<string></string>
				<key>name</key>
				<string></string>
				<key>version</key>
				<string></string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
